.column {
    width: 25%;
    padding: 22px;
    height: 78px;
    background-color: #596275;
    text-align: center;
    vertical-align: middle;
    color: aliceblue;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }
  .column:hover{
      background-color: #303952;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }