.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  bottom: 0;
  width: 100%;
  position: absolute;
  

}

.column {
    width: 100%;
    /* height: 20px; */
    background-color: oldlace;
    text-align: center;
    /* padding: 25px 0; */
    color: aliceblue;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-top: 4px;
  }
  .image{
    width: 110px;
    height: 80px;
  }
  .link{
    text-decoration: none;
    color: white;
  }
  .column p:hover{
      background-color: #303952;
      scale: 1.1;
      transition: all 0.5s;
  }